svg.instr-junction {
    overflow: visible;
    pointer-events: all;

    >g {
        .symbol {
            fill: var(--elementNeutralColor);
            transform-origin: 16px 16px;
        }

        .border {
            fill: none;
            stroke: var(--elementNeutralColor);
            stroke-width: 1;
        }

        //Open
        &[status='1'] {
            .symbol {
                fill: var(--alertRunningColor);
                transform: rotate(90deg);
            }

            .border {
                stroke: var(--alertRunningColor);
                stroke-width: 2;
            }
        }

        //Transition to open
        &[status='2'] {
            .symbol {
                fill: var(--elementNeutralColor);
                animation: transition 8s linear infinite reverse;
            }

            .border {
                stroke: var(--elementNeutralColor);
                stroke-width: 1;
            }
        }

        //Transition to close
        &[status='3'] {
            .symbol {
                fill: var(--alertRunningColor);
                transform: rotate(90deg);
                animation: transition 8s linear infinite;
            }

            .border {
                stroke: var(--alertRunningColor);
                stroke-width: 2;
            }
        }

        @keyframes transition {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(180deg);
            }
        }

        .NONE+g {
            display: none;
        }

        .READ+g {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    .invalid+g {
        opacity: 0.5;
        pointer-events: none;
    }
}