alarm-list-generator {
  display: flex;
  flex-direction: column;

  > comp-group {
    > table {
      border-spacing: 0.5rem 0.3rem;
      td {
        text-align: center;
      }
    }
  }

  > :first-child {
    flex-grow: 1;
    overflow: auto;
  }
}
