@use "@libComponentsCSS/common.scss";

module-modulevalue3pointconversion {
  -webkit-user-select: none;
  user-select: none;
  display: block;

  &.READ {
    filter: var(--readOpacityFilter);
    pointer-events: none;
  }

  &.NONE {
    display: none;
  }

  > span {
    display: block;
    padding: var(--componentTitleTextPadding);
    color: var(--componentLabelTextColor);

    .anim & {
      transition: color var(--colorTransitionType) var(--colorTransitionTime);
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--componentCornerRadius);
    border: 1px solid var(--componentBorderColor);

    &.h {
      display: none;
    }

    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;

      > div {
        flex-grow: 1;
      }
    }
  }
}
