@use "@libComponentsCSS/common.scss" as common;

module-selector {
  padding: 0.5rem;

  > lister-container {
    min-height: unset;
    max-height: unset;
    height: 100%;

    > div {
      min-height: unset;
      max-height: unset;
    }
  }
}

module-selectoropener {
  $height: 2.5rem;
  $touchHeight: 3rem;

  min-width: common.$componentMinWidth;
  -webkit-user-select: none;
  user-select: none;
  display: block;

  &.READ > div {
    filter: var(--readOpacityFilter);
    pointer-events: none;
  }

  &.NONE > div {
    display: none;
  }

  > span {
    display: block;
    padding: var(--componentTitleTextPadding);
    color: var(--componentLabelTextColor);

    .anim & {
      transition: color var(--colorTransitionType) var(--colorTransitionTime);
    }
  }

  > div {
    box-sizing: border-box;
    height: $height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: var(--componentCornerRadius);
    border: 1px solid var(--componentBorderColor);
    background-color: var(--componentBackGroundColor);
    position: relative;
    box-shadow: var(--componentShadowOut);

    .anim & {
      transition: height var(--sizeTransitionType) var(--sizeTransitionTime),
        background-color var(--colorTransitionType) var(--colorTransitionTime),
        box-shadow var(--colorTransitionType) var(--colorTransitionTime),
        border-color var(--colorTransitionType) var(--colorTransitionTime);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible::after {
      content: "";
      outline: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: inherit;
      box-shadow: var(--componentShadowFocus);
      z-index: 99;
    }

    &:hover {
      background-color: var(--componentHoverBackGroundColor);
    }

    .touch & {
      height: $touchHeight;
    }
  }
}
