@use "@libComponentsCSS/common.scss";

module-listeditor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > span {
    display: block;
    padding: var(--componentTitleTextPadding);
    color: var(--componentLabelTextColor);

    .anim & {
      transition: color var(--colorTransitionType) var(--colorTransitionTime);
    }
  }

  &.READ > :not(span) {
    filter: var(--readOpacityFilter);
    pointer-events: none;
  }

  &.NONE {
    display: none;
  }

  > :last-child {
    margin-top: 0.3rem;
  }
}
