time-changer {
    display: flex;
    flex-direction: column;

    >:first-child {
        flex-grow: 1;
        overflow: auto;
    }

    &.waiting {
        >* {
            pointer-events: none;
        }

        &::after {
            content: 'Waiting for values';
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 2rem;
            position: absolute;
            top: 1rem;
            bottom: 1rem;
            left: 1rem;
            right: 1rem;
            background-color: inherit;
            border-radius: 1rem;
            border: 1px solid currentColor;
            z-index: 2;
        }
    }
}