svg.instr-dpbackground {
    transform: rotate(90deg);
    overflow: visible;
    user-select: none;
    pointer-events: none;

    .border {
        fill: none;
        stroke: var(--dialBorder);
    }

    .miTick {
        stroke: var(--dialBorder);
    }

    .maTick {
        stroke: var(--dialBorder);
        opacity: 1;
    }

    .dotline {
        stroke: var(--dialBorder);
        stroke-dasharray: 5px;
    }

    .boat {
        fill: var(--contentBackGround);
        //fill: black;
        stroke: var(--dialBorder);
        stroke-width: 2;

    }

    .rudder {
        fill: black;
        stroke: var(--dialBorder);
    }

    .textpro {
        fill: var(--dialBorder);
    }

    .arrow {
        fill: var(--arrow);
    }

    .lab {
        fill: var(--dialBorder);
    }

    .bglines {
        stroke: grey;
        opacity: 0.7;
    }

    .rec {
        fill: grey;
    }

    .distRec {
        fill: green;
    }

    .distBoat {
        fill: none;
        stroke: gray;
    }
}