lib-window-manager:not(.not) {
  position: fixed;
  top: 3rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
}

.splash-screen {
  position: fixed;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  background-color: gray;
  z-index: 999999999;
}

lib-content-side-menu .sideLogo {
  max-height: 6rem;
}

lib-content-side-menu .sideButton {
  margin: 0.5rem;

  & + * {
    margin-top: 0;
  }
}

lib-content-menu-ui {
  $padding: 0.8rem;

  max-height: 84vh;

  > * {
    margin: $padding $padding $padding $padding;
  }

  > :last-child {
    margin: $padding 0rem 0rem 0rem;
  }
}
